@{
    ViewBag.Title = "Specialization";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Документ без названия</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/Specialization.css" rel="stylesheet" />
    <script src="~/Scripts/Specialization.js"></script>
</head>
<body>
    <table style=width:500px; class="b" border="1">
        <caption style="color:cornflowerblue">Doctors</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Категория</th>
            </tr>
        </thead>
        <tbody id="tableBody" class="s">
        </tbody>
    </table>
</body>
</html>
